@font-face {
  font-family: angelicac;
  font-display: swap;
  src: url(../fonts/angelicac.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url(../fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url(../fonts/Manrope-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url(../fonts/Manrope-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url(../fonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url(../fonts/Manrope-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
:root {
  --primary-font: "Manrope";
  --secondary-font: "angelicac";
  --primary: #242528;
  --secondary: #173867;
  --white: #fff;
  --border: #eee;
  --accent: #24936A;
  --bg-primary: #242423;
  --bg-secondary: #F8F8F8;
  --bg-third: #f7f7f7;
  --bg-accent: #4cc9f0;
  --bg-inverse: #2d00f7
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 360px
}
body {
  color: var(--primary);
  line-height: 1;
  font-family: var(--primary-font),sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: var(--primary-font),sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top;
  display: block;
  max-width: 100%;
  height: auto
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
.container,
[class*=__container] {
  max-width: 96.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.form__inner {
  display: grid;
  gap: 2.5rem
}
.form__row {
  display: flex;
  gap: 1.25rem
}
.form__column {
  flex: 1 1 auto
}
.form__button svg {
  rotate: -45deg;
  transition: rotate .3s cubic-bezier(.65,0,.076,1)
}
.form__agree {
  text-align: center;
  font-size: .875rem;
  line-height: 1.2;
  color: var(--secondary)
}
.form__agree a {
  text-decoration: underline
}
.button {
  font-weight: 500;
  display: inline-flex;
  justify-content: space-between;
  gap: 1.25rem;
  border-radius: .9375rem;
  align-items: center;
  background-color: var(--secondary);
  color: var(--white);
  padding: .25rem 4.1875rem .25rem 1.25rem;
  min-height: 3.125rem;
  position: relative;
  overflow: hidden;
  transition: background-color .3s ease-in-out,color .3s ease-in-out
}
.button__text {
  position: relative;
  z-index: 2
}
.button__icon {
  position: absolute;
  width: 2.6875rem;
  height: 2.6875rem;
  top: 50%;
  translate: 0 -50%;
  right: .25rem;
  color: var(--secondary);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: .75rem;
  padding: .375rem .625rem;
  background-color: var(--white);
  transition: width .3s cubic-bezier(.65,0,.076,1)
}
.button svg {
  width: 1.25rem;
  height: .8125rem
}
.button.button_second {
  background-color: var(--accent)
}
.button.button_second svg {
  rotate: -45deg;
  transition: rotate .3s cubic-bezier(.65,0,.076,1)
}
.button.button_light {
  justify-content: center;
  color: var(--secondary);
  background-color: var(--bg-secondary);
  padding: .8125rem 1.25rem
}
.button.button_light svg {
  width: 1.5rem;
  height: 1.5rem
}
.button.button_green {
  justify-content: center;
  color: var(--white);
  background-color: var(--accent);
  padding: .8125rem 1.25rem
}
.button.button_green svg {
  width: 1.5rem;
  height: 1.5rem
}
.button--fw {
  width: 100%
}
.button.button_anim:before {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 3.75rem;
  height: 100%;
  background: linear-gradient(120deg,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 50%,rgba(255,255,255,0) 100%);
  -webkit-transform: skewX(-35deg);
  transform: skewX(-35deg);
  pointer-events: none;
  -webkit-animation: shine 2.5s infinite ease-in-out forwards;
  animation: shine 2.5s infinite ease-in-out forwards
}
@-webkit-keyframes shine {
  0% {
    left: -100%
  }
  100% {
    left: 102%
  }
}
@keyframes shine {
  0% {
    left: -100%
  }
  100% {
    left: 102%
  }
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: .9375rem;
  width: 100%;
  display: block;
  font-weight: 500;
  padding: 0 20px;
  height: 3.1875rem;
  border: 2px solid var(--secondary);
  caret-color: inherit;
  outline: 0
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 2.6875rem;
  width: 2.6875rem;
  height: 2.6875rem;
  border-radius: .6875rem;
  border: 2px solid var(--secondary);
  color: var(--secondary);
  transition: all .3s ease-in-out
}
.social-item svg {
  width: 1.375rem;
  height: .9375rem
}
.icon-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .9375rem;
  flex: 0 0 3.1875rem;
  width: 3.1875rem;
  height: 3.1875rem;
  transition: all .3s ease-in-out
}
.icon-title svg {
  width: 1.25rem;
  height: 1.25rem
}
.icon-title.icon-title_num {
  background-color: var(--bg-third)
}
.icon-title.item-services__icon {
  background-color: var(--accent);
  color: var(--white);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.08)
}
.icon-title.item-benefits__icon,
.services-section-item__top .icon-title {
  border-radius: 1.5rem;
  background-color: var(--accent);
  flex: 0 0 5rem;
  width: 5rem;
  height: 5rem
}
.icon-title.item-benefits__icon svg,
.services-section-item__top .icon-title svg {
  color: var(--white);
  width: 1.625rem;
  height: 1.625rem
}
.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%
}
.title__small {
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  translate: -50% -.3125rem;
  color: var(--secondary)
}
.title__small span {
  color: var(--accent)
}
.section_dark .title__small {
  color: var(--white)
}
.contacts-section .title__small {
  translate: -50% 40%
}
.title__big {
  text-transform: uppercase;
  color: rgba(10,26,51,.1);
  font-size: 6.0625rem;
  font-family: var(--secondary-font),sans-serif
}
.section_dark .title__big {
  color: rgba(10,26,51,.22)
}
.title-page {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--secondary)
}
.title-page span {
  color: var(--accent)
}
.title-page.title-page_h2 {
  font-size: 2rem
}
.section_dark .title-page {
  color: var(--white)
}
.text-xxl {
  font-weight: 600;
  font-size: 1.5rem
}
.text {
  line-height: 1.4;
  font-size: 1rem
}
.text__item {
  display: grid;
  gap: .375rem
}
.text__item strong {
  font-weight: 800
}
.text.text_xl {
  font-size: 1.125rem
}
.text span {
  color: var(--accent)
}
.text strong {
  font-weight: 800
}
.item-team__contacts .text {
  line-height: 1.25
}
.text.partner__text span {
  color: var(--secondary)
}
.text-result {
  font-weight: 500;
  color: var(--secondary)
}
.color-accent {
  color: var(--accent)
}
.section.section_dark,
.section.section_dec {
  position: relative
}
.section.section_dark::before,
.section.section_dec::before {
  content: "";
  position: absolute;
  width: 16rem;
  height: 3.5rem;
  bottom: 100%;
  left: 50%;
  translate: -50% .625rem
}
.section.section_dec:before {
  background: url(../img/dec-bg_w.svg) no-repeat center/contain
}
.section.section_dark {
  position: relative;
  border-radius: 2.5rem;
  background-color: var(--secondary);
  color: var(--white)
}
.section.section_dark:before {
  background: url(../img/dec-bg_dark.svg) no-repeat center/contain
}
.section.section_dark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 27.3125rem;
  bottom: 0;
  left: 0;
  background: url(../img/main/blur-dark.svg) no-repeat center/cover;
  border-radius: 2.5rem
}
.section.contacts-section {
  padding-bottom: 0
}

.section__block {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  justify-content: space-between
}
.section__arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 2;
  translate: -50% 0;
  color: var(--secondary);
  -webkit-animation: arrow-bounce 2.2s ease-in-out infinite;
  animation: arrow-bounce 2.2s ease-in-out infinite
}
.section__arrow svg {
  rotate: 90deg;
  width: 1.25rem;
  height: 1.5rem
}
.section_dark .section__arrow {
  color: var(--white)
}
.section__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem
}
.benefits-cases .section__header,
.section__header._left,
.teams_services-page .section__header {
  text-align: left;
  align-items: flex-start
}
.section__block .section__header {
  margin-bottom: 0
}
.section__text {
  text-align: center;
  max-width: 43.75rem
}
._left .section__text,
.benefits-cases .section__text,
.teams_services-page .section__text {
  text-align: left
}
.teams_services-page .section__text {
  max-width: 56.25rem
}
.teams .section__text {
  max-width: 61.25rem
}
.section .container {
  position: relative;
  z-index: 2
}
.scrolling {
  scrollbar-gutter: stable
}
.scrolling::-webkit-scrollbar {
  height: .3125rem
}
.scrolling::-webkit-scrollbar-track {
  background: var(--bg-secondary)
}
.scrolling::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 4px
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  flex-wrap: wrap
}
.inner-page_dec {
  position: relative;
  z-index: 2
}
.inner-page__top {
  display: grid;
  gap: 3.125rem
}
.inner-page_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.inner-page__text {
  max-width: 51.25rem
}
.inner-page__text._fw {
  max-width: 100%
}
.inner-page .container {
  position: relative;
  z-index: 2
}
.bottom-decoration {
  position: relative
}
.bottom-decoration .container {
  position: relative;
  z-index: 2
}
.bottom-decoration::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(180deg,#fff 0,#f1f1f1 100%)
}
@media (min-width:29.99875em) {
  .container,
  [class*=__container] {
    padding: 0 1.25rem
  }
  .btn-group__btn:first-child {
    min-width: 12.5625rem
  }
}
@media (min-width:47.99875em) {
  .form__button {
    min-width: 100%
  }
}
@media (min-width:61.99875em) {
  .title__small {
    max-width: 48.75rem
  }
  .inner-page_dec::after {
    content: "";
    position: absolute;
    width: 20.125rem;
    height: 83.3125rem;
    top: -5%;
    left: 0;
    background: url(../img/main/blur-team.svg) no-repeat
  }
}
@media (min-width:74.99875em) {
  .container,
  [class*=__container] {
    padding: 0 2.5rem
  }
}
@media (min-width:96.875em) {
  .container,
  [class*=__container] {
    padding: 0 3.75rem
  }
  .page {
    padding-top: 5.125rem
  }
  .title__big {
    font-size: 6.0625rem
  }
  .text__item+.text__item {
    margin-top: 1.25rem
  }
  .text p+p {
    margin-top: 1.25rem
  }
  .text-result p+p {
    margin-top: .75rem
  }
  .section {
    padding-top: 3.75rem
  }
  .section {
    padding-bottom: 3.75rem
  }
  .section.section_bottom {
    padding-bottom: 11.25rem
  }
  .section.inner-page {
    padding-top: 3.125rem
  }
  .section.inner-page {
    padding-bottom: 8.125rem
  }
  .section.section_dark {
    padding-top: 3.75rem
  }
  .section.section_dark {
    padding-bottom: 8.125rem
  }
  .section__block {
    margin-bottom: 3.75rem
  }
  .bottom-decoration::before {
    height: 25rem
  }
  .section.section_no-bottom {
    padding-bottom: 0;
  }
}
@media (min-width:75em) {
  .section__header {
    margin-bottom: 3.75rem
  }
}
@media (max-width:30em) {
  .section__header {
    margin-bottom: 1.875rem
  }
}
@media (max-width:74.99875em) {
  .title-page br {
    display: none
  }
  .section__text br {
    display: none
  }
}
@media (max-width:61.99875em) {
  .icon-title {
    flex: 0 0 2.75rem;
    width: 2.75rem;
    height: 2.75rem
  }
  .title__small {
    font-size: 2.375rem;
    translate: -50% 30%
  }
  .title-page {
    font-size: 2.375rem
  }
  .title-page.title-page_h2 {
    font-size: 1.75rem
  }
  .text-xxl {
    font-size: 1.375rem
  }
  .text br {
    display: none
  }
  .inner-page__top {
    gap: 1.875rem
  }
}
@media (max-width:47.99875em) {
  .form__inner {
    gap: 1.25rem
  }
  .form__row {
    flex-wrap: wrap
  }
  .form__column {
    flex: 1 1 100%
  }
  .title__small {
    font-size: 2.1875rem
  }
  .title-page {
    font-size: 2.1875rem
  }
  .title-page.title-page_h2 {
    font-size: 1.625rem
  }
  .text-xxl {
    font-size: 1.25rem
  }
  .text {
    font-size: .875rem
  }
  .text.partner__text {
    font-size: 1rem
  }
  .inner-page .partners-items .text {
    font-size: .75rem
  }
  .text.text_xl {
    font-size: 1rem
  }
  .section.section_dark::before,
  .section.section_dec::before {
    width: 10rem;
    height: 2.875rem
  }
  .section__block {
    flex-wrap: wrap;
    gap: 1.875rem
  }
  .section__header {
    gap: 1.875rem
  }
}
@media (max-width:29.99875em) {
  .form__row {
    gap: .625rem
  }
  .form__agree {
    font-size: .75rem
  }
  .button {
    min-width: 100%
  }
  .button.seo-text__more {
    min-width: initial
  }
  .social-item {
    border-radius: .5rem
  }
  .icon-title.item-benefits__icon,
  .services-section-item__top .icon-title {
    flex: 0 0 3.75rem;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: .75rem
  }
  .icon-title.item-benefits__icon svg,
  .services-section-item__top .icon-title svg {
    width: 1.625rem;
    height: 1.625rem
  }
  .title__small {
    font-size: 1.625rem
  }
  .contacts-section .title__small {
    font-size: 1.375rem
  }
  .get-started .title__small span {
    display: block
  }
  .get-started .title__small {
    translate: -50% 60%
  }
  .contacts-section .title__small {
    translate: -50% 60%
  }
  .title-page {
    font-size: 2rem
  }
  .text-xxl {
    font-size: 1.125rem
  }
  .item-price .text.text_xl {
    font-size: 1.0625rem
  }
  .section.section_dark {
    border-radius: 1.25rem
  }
  .section.section_dark::after {
    border-radius: 1.25rem
  }
  .get-started .section__header {
    gap: 3.125rem
  }
  .contacts-section .section__header {
    margin-bottom: 3.125rem
  }
  .btn-group {
    gap: .625rem
  }
}
@media (max-width:22.5em) {
  .page {
    padding-top: 3.75rem
  }
  .title__big {
    font-size: 2rem
  }
  .text__item+.text__item {
    margin-top: .75rem
  }
  .text p+p {
    margin-top: .75rem
  }
  .text-result p+p {
    margin-top: .375rem
  }
  .section {
    padding-top: 2.5rem
  }
  .section {
    padding-bottom: 2.5rem
  }
  .section.section_bottom {
    padding-bottom: 5rem
  }
  .section.inner-page {
    padding-top: 2.5rem
  }
  .section.inner-page {
    padding-bottom: 5rem
  }

  .section.section_dark {
    padding-top: 2.5rem
  }
  .section.section_dark {
    padding-bottom: 5rem
  }
  .section__block {
    margin-bottom: 1.875rem
  }
  .bottom-decoration::before {
    height: 18.75rem
  }
}
@media (min-width:22.5em)and (max-width:96.875em) {
  .page {
    padding-top: clamp(3.75rem ,3.3340336134rem + 1.8487394958vw ,5.125rem)
  }
  .title__big {
    font-size: clamp(2rem ,.7710084034rem + 5.4621848739vw ,6.0625rem)
  }
  .text__item+.text__item {
    margin-top: clamp(.75rem ,.5987394958rem + .6722689076vw ,1.25rem)
  }
  .text p+p {
    margin-top: clamp(.75rem ,.5987394958rem + .6722689076vw ,1.25rem)
  }
  .text-result p+p {
    margin-top: clamp(.375rem ,.2615546218rem + .5042016807vw ,.75rem)
  }
  .section {
    padding-top: clamp(2.5rem ,2.1218487395rem + 1.6806722689vw ,3.75rem)
  }
  .section {
    padding-bottom: clamp(2.5rem ,2.1218487395rem + 1.6806722689vw ,3.75rem)
  }
  .section.section_bottom {
    padding-bottom: clamp(5rem ,3.1092436975rem + 8.4033613445vw ,11.25rem)
  }
  .section.inner-page {
    padding-top: clamp(2.5rem ,2.3109243697rem + .8403361345vw ,3.125rem)
  }
  .section.inner-page {
    padding-bottom: clamp(5rem ,4.0546218487rem + 4.2016806723vw ,8.125rem)
  }

  .section.section_dark {
    padding-top: clamp(2.5rem ,2.1218487395rem + 1.6806722689vw ,3.75rem)
  }
  .section.section_dark {
    padding-bottom: clamp(5rem ,4.0546218487rem + 4.2016806723vw ,8.125rem)
  }
  .section__block {
    margin-bottom: clamp(1.875rem ,1.3077731092rem + 2.5210084034vw ,3.75rem)
  }
  .bottom-decoration::before {
    height: clamp(18.75rem ,16.8592436975rem + 8.4033613445vw ,25rem)
  }
}
@media (min-width:30em)and (max-width:75em) {
  .section__header {
    margin-bottom: clamp(1.875rem ,.625rem + 4.1666666667vw ,3.75rem)
  }
}
@media (any-hover:hover) {
  .form__button:hover svg {
    rotate: 0deg
  }
  .button:hover {
    color: var(--secondary)
  }
  .button:hover .button__icon {
    width: calc(100% - 8px)
  }
  .button.button_second:hover svg {
    rotate: 0deg
  }
  .button.button_light:hover {
    color: var(--bg-secondary);
    background-color: var(--secondary)
  }
  .button.button_green:hover {
    color: var(--bg-secondary);
    background-color: var(--secondary)
  }
  .social-item:hover {
    background-color: var(--secondary);
    color: var(--white)
  }
}
