.menu__list {
  display: flex
}
.menu__link {
  font-weight: 500;
  transition: color .3s ease-in-out
}
.menu__link_icon {
  display: flex;
  gap: .625rem;
  align-items: center
}
.menu__link_icon svg {
  width: 1.0625rem;
  height: .75rem
}
.icon-menu {
  display: none
}
.header {
  position: absolute;
  width: 100%;
  color: var(--secondary);
  padding: .9375rem 0;
  background-color: var(--white);
  transition: background-color .3s ease-in-out;
  z-index: 5;
  border-bottom: 1px solid var(--border)
}
.header._header-scroll {
  position: fixed;
  box-shadow: 0 0 5px rgba(0,0,0,.3)
}
.menu-open .header {
  color: var(--white);
  background-color: var(--secondary)
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem
}
.header__actions {
  display: flex;
  align-items: center
}
.header__contacts {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center
}
.header__tel {
  font-weight: 500;
  font-size: 1.125rem;
  transition: color .3s ease-in-out
}
.header__message {
  flex: 0 0 2.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: .6875rem;
  border: 2px solid var(--secondary);
  color: var(--secondary)
}
.menu-open .header__message {
  color: var(--secondary);
  background-color: var(--white);
  border: 2px solid var(--white)
}
.header__message svg {
  width: 1.0625rem;
  height: 1.25rem
}
.header__logo {
  position: relative;
  z-index: 5
}
.submenu {
  color: var(--primary)
}
.submenu._submenu-open {
  visibility: visible;
  opacity: 1
}
.submenu._submenu-open:before {
  opacity: 1
}
.has-submenu {
  position: relative;
  display: flex;
  z-index: 2
}
.has-submenu span {
  pointer-events: none
}
._submenu-open--active .has-submenu {
  color: var(--accent)
}
.logo__img_dark {
  display: block
}
.menu-open .logo__img_dark {
  display: none
}
.logo__img_white {
  display: none
}
.menu-open .logo__img_white {
  display: block
}
.submenu-list {
  display: flex;
  gap: 1.25rem;
  align-items: flex-start
}
.submenu-list__primary {
  display: flex;
  flex-direction: column
}
.submenu-list__primary li {
  display: grid;
  gap: .1875rem;
  line-height: 1.2;
  justify-content: start
}
.submenu-list__primary li a {
  font-weight: 600;
  transition: color .3s ease-in-out
}
.submenu-list__secondary li {
  line-height: 1.2;
  padding-left: 1rem;
  position: relative
}
.submenu-list__secondary li::before {
  position: absolute;
  flex: 0 0 .25rem;
  content: "";
  width: .3125rem;
  height: .3125rem;
  border-radius: 50%;
  left: 0;
  top: .375rem;
  background-color: var(--primary)
}
.submenu-list__secondary li a {
  transition: color .3s ease-in-out
}
.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  font-size: 1.125rem;
  color: var(--accent);
  font-weight: 600;
  flex-direction: row-reverse
}
.btn-back svg {
  rotate: 180deg;
  width: 1.125rem;
  height: 1.125rem
}
.about-menu-content {
  display: grid;
  gap: 1.875rem
}
.about-menu-content__title {
  color: var(--accent)
}
.about-menu-content__actions {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  flex-wrap: wrap
}
@media (min-width:29.99875em) {
  .about-menu-content__btn:first-child {
    min-width: 12.5rem
  }
  .about-menu-content__btn:last-child {
    min-width: 18.8125rem
  }
}
@media (min-width:47.99875em) {
  .submenu {
    border-top: 1px solid var(--border);
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    background-color: var(--white);
    z-index: 2;
    padding-bottom: 2.5rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
  .submenu::before {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
    background-color: rgba(0,0,0,.8)
  }
  .submenu-list__primary li:first-child {
    display: none
  }
  .btn-back {
    display: none
  }
}
@media (min-width:61.99875em) {
  .submenu-list__primary {
    flex: 1 1 50%;
    scrollbar-gutter: stable;
    overflow-y: auto;
    max-height: 27.5rem;
    min-height: 22.5rem
  }
  .submenu-list__primary::-webkit-scrollbar {
    width: .3125rem
  }
  .submenu-list__primary::-webkit-scrollbar-track {
    background: var(--bg-secondary)
  }
  .submenu-list__primary::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 4px
  }
  .submenu-list__secondary {
    flex: 1 1 50%;
    max-height: 27.5rem;
    min-height: 22.5rem;
    scrollbar-gutter: stable;
    overflow-y: auto
  }
  .submenu-list__secondary::-webkit-scrollbar {
    width: .3125rem
  }
  .submenu-list__secondary::-webkit-scrollbar-track {
    background: var(--bg-secondary)
  }
  .submenu-list__secondary::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 4px
  }
}
@media (min-width:96.875em) {
  .submenu-list__primary {
    gap: 1.25rem
  }
  .submenu-list__secondary li+li {
    margin-top: 1.25rem
  }
}
@media (min-width:75em) {
  .menu__list {
    gap: 2.125rem
  }
  .menu__link {
    font-size: 1rem
  }
  .header__actions {
    gap: 3.75rem
  }
  .header__contacts {
    gap: 1.25rem
  }
  .header__tel {
    font-size: 1.125rem
  }
  .header__logo {
    flex-basis: 11.375rem
  }
  .submenu-list {
    gap: 2.5rem
  }
}
@media (max-width:62em) {
  .menu__list {
    gap: 1.25rem
  }
  .menu__link {
    font-size: .875rem
  }
  .header__actions {
    gap: 1.25rem
  }
  .header__contacts {
    gap: .625rem
  }
  .header__tel {
    font-size: 1rem
  }
  .submenu-list {
    gap: 1.25rem
  }
}
@media (max-width:30em) {
  .header__logo {
    flex-basis: 8.125rem
  }
}
@media (max-width:61.99875em) {
  .submenu-list {
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 25rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 7.5rem 1.25rem 1.25rem 1.25rem;
    transition: left .3s;
    background-color: var(--white)
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 4;
    background-color: var(--secondary)
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    color: var(--primary);
    flex-direction: column;
    gap: 1.875rem
  }
  .menu__link {
    font-size: 1.25rem;
    font-weight: 700
  }
  .menu__link_icon svg {
    display: none
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.125rem;
    height: .75rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: var(--secondary)
  }
  .icon-menu::before {
    top: 0;
    width: 50%
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0;
    background-color: var(--white)
  }
  .menu-open .icon-menu::after,
  .menu-open .icon-menu::before {
    width: 100%;
    background-color: var(--white)
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__contacts {
    gap: 1.25rem
  }
  .submenu__container {
    padding: 0
  }
  .submenu-list {
    max-height: initial;
    overflow-y: initial
  }
  .submenu-list__secondary li {
    font-weight: 600
  }
  .about-menu-content {
    gap: 1.25rem
  }
  .about-menu-content__title {
    display: none
  }
}
@media (max-width:47.99875em)and (max-width:29.99875em) {
  .menu__body {
    padding-top: 6.25rem
  }
  .menu__body::before {
    height: 3.75rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .header__container {
    gap: .625rem
  }
  .header__message {
    flex: 0 0 1.75rem;
    border-radius: .5rem;
    width: 1.75rem;
    height: 1.75rem
  }
  .header__message svg {
    width: .875rem;
    height: 1.125rem
  }
  .submenu-list__primary li {
    font-size: .875rem
  }
  .submenu-list__primary li a {
    font-size: 1rem
  }
  .about-menu-content__actions {
    gap: .625rem
  }
}
@media (max-width:25.87375em) {
  .header__contacts {
    gap: .625rem
  }
  .header__tel {
    font-size: .875rem
  }
  .header__logo {
    flex-basis: 6.875rem
  }
}
@media (max-width:22.5em) {
  .submenu-list__primary {
    gap: .75rem
  }
  .submenu-list__secondary li+li {
    margin-top: .75rem
  }
}
@media (min-width:62em)and (max-width:75em) {
  .menu__list {
    gap: clamp(1.25rem ,-2.9230769231rem + 6.7307692308vw ,2.125rem)
  }
  .menu__link {
    font-size: clamp(.875rem ,.2788461538rem + .9615384615vw ,1rem)
  }
  .header__actions {
    gap: clamp(1.25rem ,-10.6730769231rem + 19.2307692308vw ,3.75rem)
  }
  .header__contacts {
    gap: clamp(.625rem ,-2.3557692308rem + 4.8076923077vw ,1.25rem)
  }
  .header__tel {
    font-size: clamp(1rem ,.4038461538rem + .9615384615vw ,1.125rem)
  }
  .submenu-list {
    gap: clamp(1.25rem ,-4.7115384615rem + 9.6153846154vw ,2.5rem)
  }
}
@media (min-width:30em)and (max-width:75em) {
  .header__logo {
    flex-basis: clamp(8.125rem ,5.9583333333rem + 7.2222222222vw ,11.375rem)
  }
}
@media (min-width:22.5em)and (max-width:96.875em) {
  .submenu-list__primary {
    gap: clamp(.75rem ,.5987394958rem + .6722689076vw ,1.25rem)
  }
  .submenu-list__secondary li+li {
    margin-top: clamp(.75rem ,.5987394958rem + .6722689076vw ,1.25rem)
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: var(--accent)
  }
  .header__tel:hover {
    color: var(--accent)
  }
  .submenu-list__primary li a:hover {
    color: var(--accent)
  }
  .submenu-list__secondary li a:hover {
    color: var(--accent)
  }
}
