@font-face {
  font-family: angelicac;
  font-display: swap;
  src: url(../fonts/angelicac.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url(../fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url(../fonts/Manrope-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url(../fonts/Manrope-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url(../fonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url(../fonts/Manrope-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
.services-page {
  position: relative;
  z-index: 2;
  display: grid;
  gap: 5rem
}
.item-services__title {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem
}
.item-services__content {
  display: grid;
  gap: 1.25rem
}
._showmore-active .item-services__content._hidden {
  margin-top: 1.25rem
}
.item-services__more {
  margin-top: 1.25rem;
  min-width: 100%;
  position: relative
}
.item-services__more::after,
.item-services__more::before {
  content: "";
  position: absolute;
  width: 2.6875rem;
  height: 2.6875rem;
  top: 50%;
  translate: 0 -50%;
  background: url(../img/icons/arrow-btn.svg) no-repeat center/contain;
  transition: rotate .3s ease-in-out
}
._showmore-active .item-services__more::after,
._showmore-active .item-services__more::before {
  rotate: 180deg
}
.item-services__more::before {
  left: .25rem
}
.item-services__more::after {
  right: .25rem
}
.service {
  padding: 2.375rem 2.8125rem;
  border-radius: 1.125rem;
  background-color: var(--bg-secondary);
  border: 2px solid transparent;
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.service__title {
  font-weight: 500;
  line-height: 130%;
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
  transition: color .3s ease-in-out
}
.service__body {
  flex: 1 1 auto;
  margin-bottom: 1.875rem
}
.service__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  flex-wrap: wrap
}
.service__price {
  font-size: 1.5rem;
  color: var(--accent)
}
.faq__title {
  margin-bottom: 3.125rem
}
.team-member__wrapper {
  display: flex;
  align-items: flex-start;
  box-shadow: 0 4px 100px 0 rgba(0,0,0,.1);
  background: var(--white);
  border-radius: 1.125rem
}
.team-member__img {
  flex: 0 0 32%
}
.team-member__img img {
  border-radius: 1.125rem
}
.team-member__body {
  padding: 3.125rem
}
.team-member__header {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  margin-bottom: 2.125rem
}
.team-member__header svg {
  color: var(--accent);
  width: 2.0625rem;
  height: 2.0625rem
}
.team-member__title {
  color: var(--secondary);
  display: grid
}
.team-member__title strong {
  font-weight: 600
}
.team-member__title small {
  font-weight: 600
}
.team-member__text {
  padding-left: 5.1875rem
}
.experts {
  display: flex;
  gap: 1.25rem
}
.item-experts {
  flex: 1 1 50%;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 4px 100px 0 rgba(0,0,0,.1);
  background: var(--white);
  border-radius: 1.125rem
}
.item-experts__img {
  flex: 0 0 31%
}
.item-experts__img img {
  border-radius: 1.125rem
}
.item-experts__body {
  padding: 1.25rem
}
.item-experts__header {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  margin-bottom: 1.25rem
}
.item-experts__header svg {
  color: var(--accent);
  width: 1.125rem;
  height: 1.125rem
}
.item-experts__title {
  font-weight: 600
}
.price-items {
  display: grid;
  gap: 1.25rem
}
.item-price {
  color: var(--secondary);
  background-color: var(--white);
  padding: 2.8125rem 1.875rem;
  display: flex;
  gap: 2.5rem;
  border-radius: 1.125rem
}
.item-price__col {
  font-weight: 600
}
.item-price__col:first-child {
  flex: 0 0 23%
}
.item-price__col:nth-child(2) {
  flex: 0 0 8%
}
.item-price__col:nth-child(3) {
  flex: 0 0 12%
}
.item-price__col:nth-last-of-type(2) {
  font-weight: 400;
  flex: 1 1 auto
}
.item-price__btn {
  min-width: 14.375rem
}
@media (min-width:47.99875em) {
  .item-services__content {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (min-width:96.875em) {
  .services-page {
    gap: 5rem
  }
  .item-services__title {
    gap: 1.875rem
  }
  .team-member {
    padding-top: 6.9375rem
  }
  .team-member {
    padding-bottom: 6.9375rem
  }
}
@media (max-width:74.99875em) {
  .service {
    padding: 1.875rem
  }
  .team-member__body {
    padding: 1.875rem
  }
  .team-member__header {
    gap: 1.875rem
  }
  .team-member__text {
    padding-left: 3.9375rem
  }
  .item-price {
    flex-wrap: wrap;
    gap: 1.875rem
  }
  .item-price__col:first-child {
    flex: 0 0 46%
  }
  .item-price__col:nth-child(2) {
    flex: 0 0 12%
  }
  .item-price__col:nth-child(3) {
    flex: 1 1 auto
  }
  .item-price__col:nth-last-of-type(2) {
    flex: 1 1 100%
  }
}
@media (max-width:61.99875em) {
  .item-services__title {
    margin-bottom: 1.625rem
  }
  .service {
    padding: 1.875rem
  }
  .team-member__wrapper {
    align-items: flex-start
  }
  .team-member__img {
    flex: 0 0 38%
  }
  .experts {
    flex-wrap: wrap
  }
}
@media (max-width:47.99875em) {
  .service__title {
    margin-bottom: 1.25rem;
    font-size: 1.125rem
  }
  .service__body {
    margin-bottom: 1.875rem
  }
  .service__price {
    font-size: 1.25rem
  }
  .faq__title {
    margin-bottom: 1.875rem
  }
  .team-member__wrapper {
    flex-wrap: wrap;
    justify-content: center
  }
  .team-member__img {
    flex: 1 1 100%
  }
  .team-member__img img {
    -o-object-position: top;
    object-position: top
  }
  .team-member__header {
    margin-bottom: 1.25rem
  }
  .item-experts__img {
    flex: 0 0 36%
  }
}
@media (max-width:39.99875em) {
  .item-price__col:first-child {
    flex: 1 1 100%
  }
  .item-price__col:nth-child(2) {
    flex: 1 1 auto
  }
  .item-price__col:nth-child(3) {
    flex: 1 1 auto
  }
}
@media (max-width:29.99875em) {
  .service {
    border-radius: .875rem;
    padding: 1.25rem
  }
  .team-member__wrapper {
    border-radius: .875rem
  }
  .team-member__img img {
    border-radius: .75rem
  }
  .team-member__body {
    padding: 1.25rem
  }
  .team-member__header {
    gap: .875rem;
    align-items: flex-start
  }
  .team-member__header svg {
    width: 1.625rem;
    height: 1.625rem
  }
  .team-member__text {
    padding-left: 0
  }
  .item-experts {
    border-radius: .75rem;
    flex-wrap: wrap
  }
  .item-experts__img {
    flex: 1 1 100%
  }
  .item-experts__img img {
    border-radius: .75rem;
    max-height: 23.75rem;
    -o-object-position: top;
    object-position: top
  }
  .item-experts__header {
    gap: .875rem
  }
  .item-price {
    border-radius: .75rem;
    padding: 1.25rem;
    gap: 1rem
  }
  .item-price__col:last-child {
    flex: 1 1 100%
  }
  .item-price__btn {
    min-width: 100%
  }
}
@media (max-width:22.5em) {
  .services-page {
    gap: 2.5rem
  }
  .item-services__title {
    gap: .625rem
  }
  .team-member {
    padding-top: 3.75rem
  }
  .team-member {
    padding-bottom: 3.75rem
  }
}
@media (min-width:22.5em)and (max-width:96.875em) {
  .services-page {
    gap: clamp(2.5rem ,1.743697479rem + 3.3613445378vw ,5rem)
  }
  .item-services__title {
    gap: clamp(.625rem ,.2468487395rem + 1.6806722689vw ,1.875rem)
  }
  .team-member {
    padding-top: clamp(3.75rem ,2.7857142857rem + 4.2857142857vw ,6.9375rem)
  }
  .team-member {
    padding-bottom: clamp(3.75rem ,2.7857142857rem + 4.2857142857vw ,6.9375rem)
  }
}
@media (min-width:30em)and (max-width:47.99875em) {
  .team-member__img img {
    height: clamp(30rem ,21.6660879228rem + 27.7797069241vw ,35rem)
  }
}
@media (any-hover:hover) {
  .service:hover {
    border-color: var(--accent)
  }
  .service:hover .service__title {
    color: var(--accent)
  }
}