.spollers {
  display: grid;
  gap: 20px
}
.spollers__title {
  display: flex;
  line-height: 1.2;
  align-items: center;
  width: 100%;
  cursor: default;
  text-align: left;
  padding: .3125rem .9375rem .3125rem 0;
  border-radius: .3125rem;
  position: relative;
  list-style: none;
  font-size: 1.25rem;
  gap: 1.875rem;
  transition: color .3s ease-in-out
}
.spollers__title._spoller-active {
  color: var(--accent)
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
.spollers__title-num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  flex: 0 0 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  font-size: .875rem;
  border-radius: .9375rem;
  transition: background-color .3s ease-in-out,color .3s ease-in-out
}
._spoller-active .spollers__title-num {
  background-color: var(--accent);
  color: var(--white)
}
.spollers__title-arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  flex: 0 0 3.1875rem;
  width: 3.1875rem;
  height: 3.1875rem;
  border-radius: .9375rem;
  border: 2px solid var(--secondary)
}
.spollers__title-arrow svg {
  width: 1.0625rem;
  height: .8125rem;
  rotate: 90deg;
  transition: rotate .3s ease-in-out
}
._spoller-active .spollers__title-arrow svg {
  rotate: -90deg
}
._spoller-init .spollers__title {
  cursor: pointer
}
.spollers__body {
  padding: .9375rem 5.0625rem
}
.spollers__body ol {
  padding-left: 1.25rem
}
.spollers__body ol:not(:last-child) {
  margin-bottom: 1.875rem
}
.spollers__body ol li+li {
  margin-top: .3125rem
}
@media (max-width:47.99875em) {
  .spollers__title {
    font-size: 1.125rem;
    gap: .875rem
  }
  .spollers__title-num {
    flex: 0 0 2.5rem;
    width: 2.5rem;
    height: 2.5rem
  }
  .spollers__title-arrow {
    flex: 0 0 2.5rem;
    width: 2.5rem;
    height: 2.5rem
  }
  .spollers__body {
    padding: .3125rem 3.3125rem
  }
}
@media (max-width:29.99875em) {
  .spollers__body {
    padding: .3125rem .625rem
  }
  .spollers__body ol:not(:last-child) {
    margin-bottom: 1.25rem
  }
}
@media (any-hover:hover) {
  .spollers__title:hover {
    color: var(--accent)
  }
  .spollers__title:hover .spollers__title-num {
    background-color: var(--accent);
    color: var(--white)
  }
}
