.item-team__text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical
}
.teams {
  position: relative
}
.teams__container {
  position: relative;
  z-index: 2
}
.teams__title {
  margin-bottom: 3.125rem
}
.teams__body.swiper {
  overflow: visible
}
.teams__wrapper {
  padding-bottom: 3.125rem
}
.item-team {
  display: block;
  border-radius: 1.125rem;
  position: relative;
  overflow: hidden;
  max-width: 21.25rem;
  max-height: 26.25rem;
  cursor: pointer
}
.teams-items .item-team {
  max-width: 100%
}
.item-team__back {
  padding: 1.875rem 2.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
  color: var(--white);
  background-color: var(--secondary)
}
.item-team__front {
  position: relative;
  z-index: 3;
  transition: all .3s ease-in-out
}
.item-team__icon {
  width: 4.5625rem;
  height: 4.5625rem;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1.75rem
}
.item-team__name {
  line-height: 130%;
  font-size: 1.5rem;
  margin-bottom: 1rem
}
.item-team__contacts {
  position: relative;
  z-index: 2
}
.item-team__contacts a {
  overflow: hidden;
  width: 99%;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color .3s ease-in-out
}
.item-team__contacts li {
  overflow: hidden;
  width: 99%;
  white-space: nowrap;
  text-overflow: ellipsis
}
.item-team .stretched-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0)
}
@media (min-width:61.99875em) {
  .teams::after {
    content: "";
    position: absolute;
    width: 20.125rem;
    height: 83.3125rem;
    top: -20%;
    left: 0;
    background: url(../img/main/blur-team.svg) no-repeat
  }
  .inner-page .teams::after {
    display: none
  }
}
@media (max-width:47.99875em) {
  .teams__title {
    margin-bottom: 1.875rem
  }
  .teams__wrapper {
    padding-bottom: 1.875rem
  }
  .item-team {
    border-radius: 1rem
  }
  .item-team__back {
    padding: 1.25rem
  }
}
@media (max-width:29.99875em) {
  .item-team {
    max-height: 23.75rem
  }
}
@media (any-hover:hover) {
  .item-team:hover .item-team__front {
    visibility: hidden;
    opacity: 0
  }
  .item-team__contacts a:hover {
    color: var(--accent)
  }
}
@media (any-hover:none) {
  .item-team .item-team__front {
    visibility: hidden;
    opacity: 0
  }
}
